.main {
  display: flex;
}

.middlebar{
  display: flex;
  margin-left: 250px;
  margin-top: 30px;
  justify-content: space-between;

}

.appointments {
  margin-top: 50px;
  margin-left: 250px;
}

.linea{
    margin-left: 200px;
}
