.Prueba{
    margin-left: 200px;
}
.Prueba h2{
    margin: 5px;
}
.Ncitas{
    margin:25%;
    margin-top: 15%;
    margin-bottom: 0px;
    opacity: 55%;
}
.Button{
    
    margin:40%;
    margin-top: 0px;
    width: 170px;
    height: 40px;
    left: 555px;
    top: 320px;
    background: #6750A4;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    
}
